<h1>References</h1>
<table>
	<thead>
		<tr>
			<th>Cod.</th>
			<th>Reference</th>
			<th>Editar</th>
			<th>Excluir</th>
		</tr>
	</thead>
	<tbody id="references">
		<tr>
			<td>{references.id_reference}</td>
			<td>{references.reference}</td>
			<td><a href="http://localhost:51001/index/references/read/{references.id_reference}">Editar</a></td>
			<td><a href="http://localhost:51001/index/references/delete/{references.id_reference}">Excluir</a></td>
		</tr>
	</tbody>
</table>
