<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="index.asp" />
			</files>
		</defaultDocument>

		<rewrite>
			<rules>
				<rule name="Rewrite to index.asp2">
					<match url="^index/([_0-9a-z-]+)/([_0-9a-z-]+)/([0-9]+)" />
					<action type="Rewrite" url="index.asp?controller={R:1}&amp;action={R:2}&amp;id={R:3}" />
				</rule>
				<rule name="Rewrite to index.asp1">
					<match url="^index/([_0-9a-z-]+)/([_0-9a-z-]+)" />
					<action type="Rewrite" url="index.asp?controller={R:1}&amp;action={R:2}" />
				</rule>
			</rules>
		</rewrite>

	</system.webServer>
	<system.web>
		<compilation debug="true" />
	</system.web>
</configuration>

